//
//  ReleaseConfig.xcconfig
//  WeatherAppTest
//
//  Created by Pavlo Deynega on 15.12.2024.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

WeatherURL = http://api.weatherapi.com/v1
WeatherAPIKey = a83eb39741d044629b9153026241512
